html{
    box-sizing: border-box;
    background: rgb(149, 217, 240);
    background-image: url("https://1.bp.blogspot.com/-WGhBed80BjU/VDVj-KB8_aI/AAAAAAAAGjc/sMAZ1wdCvDk/s1600/dark-textile-background.jpg");
    margin: 2px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1{
    text-align: center;
    font-size: 10vw;
    font-family: "Arial", Times, serif;
    color:cyan;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}
h1:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
h2{
    text-align: center;
    font-size: 5vw;
    font-family: "Arial", Times, serif;
    color:white;
    animation-name: grid;
    animation-duration: 8s;
    
}

@keyframes grid {
    from {color:darkslategray;}
    to {color: white;}
}

section {
    clear: both;
}

img{
    float: left;
    width: 40%; 
    transition: width 2s;
}

img:hover {
    width: 10rem;
}
h3{
    text-align: center;
    color: darkslategray;
    background-color:cyan;
}
p{
    text-align: right;
}
.grid-item{
    background-image: linear-gradient(white,gray);
    box-shadow: 5px 10px;
    padding: 1em;
    height: 400px;
    transition: 0.3s;
}
.grid-item:hover{
    background-color: blue;
    color: blue;
}
@media screen and (max-width: 600px) {
    /*for mobile phones*/
.grid-item{
    list-style: none;
    width: 45%;
    margin: 1px;
    border: solid;
    padding: 1px;
    text-align: right;
    content: "";
    display: inline-block;
    overflow: auto;
}

grid:after {
    content: "";
    display: table;
    clear: both;
  }
.grid-item:nth-child(1){
    width: 100%;
    margin: 5px;
    padding: 5px;
}
#grid-floats {
    list-style: none;
    margin: 3rem;
    padding: 0;
    float: left;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column: span 1;
}
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
.grid-item{
    list-style: none;
    width: 30%;
    margin: 1px;
    border: solid;
    padding: 1px;
    text-align: right;
    content: "";
    display: inline-block;
    overflow: auto;
    grid-column: span 2;
    }
.grid-item:nth-child(1){
    width: 45%;
    margin: 5px;
    padding: 5px;
    }
.grid-item:nth-child(2){
    width: 45%;
    margin: 5px;
    padding: 5px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .grid-item{
        list-style: none;
        width: 20%;
        border: solid;
        text-align: right;
        content: "";
        overflow: auto;
        grid-column: span 4;
    }
    .grid-item:nth-child(1){
        width: 40%;
        clear: both; 
        padding: 1em;
    }
.grid-item:nth-child(2){
        width: 20%;
        padding: 1em;
}
  /*FLEXBOX*/
@media screen and (max-width: 600px) {
    /*for mobile phones*/
#grid-flex {
    display: flex;  
    flex-flow: row wrap;

    flex-wrap: wrap;
}

#grid-flex > * {
    padding: 10px;
    flex: 1 100%;
  }

#grid-flex li:nth-of-type(1){
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}
#grid-flex li:nth-of-type(n+2){
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    flex-wrap: wrap;
}
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
#grid-flex {
    display: flex;  
    flex-flow: row wrap;

    flex-wrap: wrap;
}

#grid-flex > * {
    padding: 10px;
    flex: 1 100%;
  }

#grid-flex li:nth-of-type(1){
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}
#grid-flex li:nth-of-type(1){
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}
#grid-flex li:nth-of-type(n+3){
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;
    flex-wrap: wrap;
}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    #grid-flex {
        display: flex;  
        flex-flow: row wrap;
    
        flex-wrap: wrap;
    }
    
    #grid-flex > * {
        padding: 10px;
        flex: 1 100%;
      }
    
    #grid-flex li:nth-of-type(1){
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }
        #grid-flex li:nth-of-type(n+2){
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20%;
        flex-wrap: wrap;
    }
    }