
body {
  color: rgb(68, 68, 68);
  font-family: Georgia, "Times New Roman", Times, serif;
}
#main{
display: grid;
grid-template-columns: 450px 450px;
margin: 4rem;
grid-column-gap: 5px;
}
.story-title{
float: left;
clear: both;
}
.story-title a,
.story-perm {
  text-decoration: none;
  color: inherit;
}
.story-title a:hover,
.story-perm:hover {
  color: darkgray;
}

.bg-col-a{
background: lightblue;
}
.bg-col-b{
background-color: lightgreen;
}
ul{
list-style-type: none;
margin: 0px;
padding: 0px;
}
img{
float: left;
clear: right;
max-width: 300px;
}
.bg-col-c{
background-color: lightpink;
clear: both;
display: grid
}
.hed-cat{
display: hidden;
}
.feature-well{
border: solid;
border-color: white;
}
.feature-well promo-well{
display: hidden;
}

.bg-col-ab{
width: 900px;
background: lightgray;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
float: right;
grid-column-gap: 5px;
grid-row-start: 4;
grid-row-end: 6;
}

.story{
border: solid;
border-color: white;
}
.site-header__centerpiece{
/*boston globe header*/
text-align: center;
width: 90px;
height: 100px;
margin: 4rem;
}
@media screen and (max-width: 450px) {
  /*for mobile phones*/
  #main{
     display: grid;
grid-template-columns: 1fr;
  }

  .bg-col-ab{
display: grid;
grid-template-columns: 1fr;
  } 

.img{
  float: left;
  clear: right;
  max-width: 50px;
    }
.img-overlay__bottom{
float: left;
clear: both;
max-width: 100px;
margin: 0px;
padding: 0px;
}
  
@media only screen and (max-width: 650px) {
  /* For tablets: */
  #main{
     display: grid;
grid-template-columns: 1fr;
  }
  .bg-col-ab{
display: grid;
grid-template-columns: 1fr;
  } 
.img{
  float: left;
  clear: right;
  max-width: 100px;
  }